.album-info {
  padding-bottom: 14rem;
}

#song-action-btns {
  border: none;
  background: none;
}

.ion-pause, .ion-play, .song-number {
  border: none;
  background: none;
  font-size: 1.75rem;
  color: #000000;
}

#album-title {
  font-size: 4rem;
  font-color: #000000;
}

.album-details {
  color: #ffffff;
}

.artist {
  font-size: 1rem;
}

#release-info {
  font-size: .75rem;
}

.album-cover-art {
  margin: 0 auto;
}


tr:hover {
  cursor: pointer;
}

.table > tbody > tr > td {
  vertical-align: middle;
}
