@import url('https://fonts.googleapis.com/css?family=Francois+One|Pacifico');

nav {
  background: #526077;
  padding-top: .75rem;
  text-align: center;
}

.main-content {
  margin-top: 1rem;
}

#nav-landing, #nav-library {
  color: #ffffff;
}

a:link, a:visited {
  text-decoration: none;
}

#nav-landing:hover, #nav-library:hover {
  text-decoration: none;
  color: #000000;
}

a:active {
  text-decoration: none;
}

#nav-landing {
  font-family: 'Lato',
  sans-serif;
  font-size: 1.75rem;
  margin-right: .5rem;
}

#nav-library {
  font-family: 'Lato',
  sans-serif;
  font-size: 1.5rem;
  margin-left: .5rem;
}
