.library-album-section {
  padding-bottom: 1rem;
}

.library-album-info {
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
}

a:hover.library-album-info {
  text-decoration: none;
  color: #000000;
}

.img-responsive {
  margin: 0 auto;
}

.library-album-artist {
  font-size: 1.25rem;
  padding-top: .5rem;
}
