@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

html {
  font-size: 16px;
}

body {
  font-family: 'Lato',
  sans-serif;
  background-color: #526077;
  overflow-y: scroll;
}

button:focus, input:focus {
  outline: none;
}
